:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  display: grid;
  place-content: center;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  color: rgb(247, 89, 37);
}

main {
  padding: 2rem 0 0.5rem 0;
  
  text-align: center;
  
  border: 1px solid rgb(245, 246, 251);
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(157, 156, 166, 0.3);
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

section {
  font-size: 1.2rem;
}

nav {
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  font-size: 1.6rem;
  margin: 0 auto;
}

nav p {
  font-size: 2rem;
  padding: .8rem 1.6rem;
  color: rgb(247, 89, 37);
  background-color: rgb(245, 246, 251);
  border-radius: 100%;
  cursor: pointer;
}

footer {
  font-size: 1.2rem;
  padding: 1.2rem .6rem;

  border-top: 1px solid rgba(157, 156, 166, 0.3);
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer li {
  padding: .8rem 1.4rem;
  color: rgb(141, 146, 164);
}

.week-days{
  width: 100%;
}

.week-days ul {
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
}

.week-days ul li {
  padding: 1rem;
  font-weight: bold;
}

.month-days ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.month-days ul li {
  padding: 0.8rem;
  margin-bottom: .2rem;
}

.month-days ul li:hover {
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(247, 89, 37);
}


.active {
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}

.start-element {
  border-radius: 100% 0 0 100%;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}

.last-element {
  border-radius: 0 100% 100% 0;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}

.midle-element {
  border-radius: 0;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}