:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;

  font-family: 'Karla', sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  display: grid;
  place-content: center;
}

header {
  text-align: center;
  margin: 2rem 0;
}

header h1 {
  color: rgb(247, 89, 37);
}

main {

  width: 38rem;

  margin: 0 auto;
  padding: 1rem 0;

  text-align: center;

  background-color: rgb(255, 255, 255);

  border: 1px solid rgb(245, 246, 251);
  border-radius: 4px;
  box-shadow: 1px 2px 4px rgba(157, 156, 166, 0.3);

}

article {

  font-size: 1.2rem;
}

nav {
  padding: 2rem;
}

nav ul {
  font-size: 1rem;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  cursor: pointer;
}

nav h2 {
  width: 100%;

  font-size: 1.6rem;
  font-weight: bold;

  margin: 0 auto;
}

nav p {
  font-size: 2rem;
  padding: .8rem 1.6rem;
  color: rgb(247, 89, 37);
  background-color: rgb(245, 246, 251);
  border-radius: 100%;
  cursor: pointer;
}

footer {
  font-size: 1.4rem;
  padding: 1.2rem .6rem 0 .6rem;

  border-top: 1px solid rgba(157, 156, 166, 0.3);
}

footer ul {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer ul li {
  padding: .8rem 1.4rem;
  color: rgb(141, 146, 164);
  cursor: pointer;
}

footer ul li:hover {
  color: rgb(247, 89, 37);
}

/* Month Pop Up Section */

#month-popup {
  position: fixed;
  top: 34%;
  left: 22%;
  min-width: 28rem;

  background-color: white;
  border-radius: 6px;
  box-shadow: 0 1px 6px rgb(0, 0, 0);
  display: none;
}

#bg-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
}

#month-menu {

  padding: 2rem;

}

#month-popup-header {
  margin-top: 1rem;
}

#month-popup-header h2 {
  font-size: 2rem;
  color: rgb(247, 89, 37);
}


#month-popup-menu ol {
  font-weight: bold;
  margin: 1rem 0;
  padding: 2rem;

  list-style: none;

  display: grid;
  gap: .6rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#month-popup-menu ol li {

  border: 1px solid rgba(157, 156, 166, 0.3);
  border-radius: 8px;
  padding: 1rem .5rem;
  cursor: pointer;

}

#month-popup-menu ol li:hover {
  color: white;
  background-color: rgb(247, 89, 37);
  border-color: rgba(247, 89, 37, 0.3);
}

/* End of Pop Up Section */

#current-month {
  display: none;
}

.week-days,
.month-days {
  padding: 0 2rem;
}

.week-days ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.week-days ul li {
  padding: 1rem;
  font-weight: bold;
}

.month-days ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 1rem 0;
}

.month-days ul li {
  font-size: 1.5rem;
  margin-bottom: .2rem;
  padding: 1rem;
  cursor: pointer;
}

.month-days ul li:hover {
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(247, 89, 37);
}

/* Background Section */
.backdrop {
  position: relative;
}

.big-circle {
  width: 36rem;
  height: 36rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #f65d28, #fd8e45);
  position: absolute;
  top: -12rem;
  left: -26rem;
  z-index: -1;
}

.medium-circle {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  background: linear-gradient(to right, #f65d28, #fd8e45);
  position: absolute;
  top: 38rem;
  left: 26rem;
  z-index: -1;
}

.small-circle {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background: linear-gradient(to right, #f65d28, #fd8e45);
  position: absolute;
  top: 2rem;
  left: 34rem;
  z-index: -1;
}

/* Select Days Section  */

.active {
  border-radius: 100%;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}

.inactive {
  color: rgba(158, 158, 158, 0.6);
}

.start-element {
  border-radius: 100% 0 0 100%;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}

.last-element {
  border-radius: 0 100% 100% 0;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}

.midle-element {
  border-radius: 0;
  color: rgb(255, 255, 255);
  background: rgb(247, 89, 37);
}



@media (min-width: 699px) {



  header h1 {
    font-size: 4.8rem;
    color: rgb(247, 89, 37);
  }

  main {
    width: fit-content;
  }

  article {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.2rem;
  }


  /* Month Pop Up Section */
  
  #month-popup {
    position: fixed;
    top: 34%;
    left: 34%;
    min-width: 28rem;
    
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 1px 6px rgb(0, 0, 0);
    display: none;
  }
  
  /* End Of Pop Up Section */
  
  /* Month Section */
  
  #current-month {
    display: block;
  }

  #last-month .right-arrow {
    display: none;
  }

  #current-month .left-arrow {
    display: none;
  }

  #last-month-title,
  #current-month-title {
    width: 100%;
  }

  /* Background Section */

  .backdrop {
    position: relative;
  }

  .big-circle {
    position: absolute;
    top: -12rem;
    left: -24rem;
  }

  .medium-circle {
    position: absolute;
    top: 40rem;
    left: 52rem;
  }

  .small-circle {
    position: absolute;
    top: 6rem;
    left: 60rem;
  }

}